.form-step {
    display: block;
    position: relative;
    z-index: 500;
  }
  
  .form-group {
    margin-bottom: 30px;
  }
  
  .step-text {
    margin-top: 5px;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
  }
  
  .divider-line {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 10px 0;
    margin-bottom: 20px;
  }
  
  .gender-options-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 0px; /* Add space between buttons */
  }
  
  .button-container {
    text-align: center;
    margin: 4px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .unique-age-button {
    border-radius: 12px;    
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 900;
  }
  
  .unique-age-button:hover {
    opacity: 0.8;
  }
  
  .unique-age-button.selected {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  .under18-button { background-color: rgb(225, 120, 105); }
  .age18-24-button { background-color: rgb(227, 131, 117); }
  .age25-34-button { background-color: rgb(229, 142, 129); }
  .age35-44-button { background-color: rgb(231, 153, 141); }
  .age45-54-button { background-color: rgb(233, 164, 153); }
  .age55plus-button { background-color: rgb(235, 166, 155); }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .question-text {
    font-size: 28px;
    font-weight: 700;
  }
