.pageBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FDF0E6;
    z-index: -1;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    max-width: 390px; /* iPhone 12 Pro width */
    margin: 0 auto;
    position: relative; /* Add this to position the button absolutely within the container */
}

.text {
    font-size: 2rem;
    font-weight: bold;
    font-family: inherit;
    color: #333;
    transition: opacity 0.5s ease-in-out;
    text-align: left;
    width: 100%;
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.centered {
    width: 100%;
}

@media (min-width: 640px) {
    .container {
        padding: 0rem 0rem;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 0rem 0rem;
    }
}

.text:first-child {
    text-align: center;
}

.fadeText {
    transition: opacity 1s;
}

.ctaButton {
    width: 95%;
    padding: 15px 20px;
    font-size: 1rem;
    background: linear-gradient(135deg, rgb(225, 120, 105) 60%, rgb(235, 166, 155) 100%, rgb(215, 100, 85) 100%);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 0 1px #8B4513;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ctaButton:hover {
    background: linear-gradient(135deg, rgb(215, 110, 95) 60%, rgb(225, 156, 145) 100%, rgb(205, 90, 75) 100%);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.svgContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;  /* Reduced from 20px to 10px */
}

.fadeOut {
    opacity: 0;
    transition: opacity 1s;
}