.discountOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    backdrop-filter: blur(10px);
}

.discountOverlay::before {
    content: '🎉';
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 6rem;
    opacity: 0.2;
}

.discountOverlay::after {
    content: '🎁';
    position: absolute;
    bottom: 10%;
    right: 5%;
    font-size: 6rem;
    opacity: 0.2;
}

.customDiscountContent {
    position: relative;
    width: calc(100% - 5px);
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 90px 10px 10px 10px;
    background-color: transparent;
    text-align: left;
}

.customDiscountCard {
    background-color: rgba(247, 128, 110, 0.054);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 8px;
    width: calc(100% - 20px); 
    max-width: 400px; 
    display: flex;
    flex-direction: column;
}

.discountRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.appliedRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgba(235, 131, 115, 0.85);
    border-radius: 7px;
    padding: 3px 7px;
    margin-bottom: 10px;
}

.discountText {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.discountText .original,
.discountText .originalPrice {
    color: black; 
    position: relative;
    margin-right: 8px;
    font-size: 14px;
}

.discountText .original::before,
.discountText .originalPrice::before {
    content: "";
    position: absolute;
    top: 50%; 
    left: 0;
    width: 100%;
    height: 1px;
    background-color: red;
    transform: translateY(-50%);
}

.discountText .new {
    font-weight: 800;
    color: black;
}

.discountText .newPrice {
    font-weight: 500;
    font-size: 14px;
    color: black;
}

.trialButton {
    background-color: #4ab860;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    font-size: 1.25rem;
    font-weight: normal;
    margin-top: 1rem;
    width: calc(100% - 40px);
    max-width: 400px;
}

.noticeText {
    max-width: 400px;
}

.sdu {
    font-size: 1.875rem; /* text-3xl */
    font-weight: 800; /* font-extrabold */
    margin-bottom: 1rem; /* mb-4 */
    text-align: center;
    color: rgb(247, 128, 110); /* text-mixed-400 */
}