.chartWrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 24px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }