.gratitudeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dateTime {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 20px;
}

.dateTimeInputWrapper {
  display: flex;
  align-items: center;
  background-color: #f0f8ff;
  border: 2px solid #b0e0e6;
  border-radius: 20px;
  padding: 0px 0px;
  margin: 10px 0 20px 0;
  transition: all 0.3s ease;
  max-width: 260px;
  z-index: 1000;
}

.dateTimeInputWrapper:hover {
  background-color: #e6f3ff;
  box-shadow: 0 2px 8px rgba(176, 224, 230, 0.4);
}

.dateTimeIcon {
  width: 24px;
  height: 24px;
  margin: 0px 0px 0px 10px;
  fill: #87ceeb;
}

.dateTimeInput {
  font-size: 0.9em;
  color: #4682b4;
  background: transparent;
  width: 100%;
  max-width: 200px;
  text-align: center;
  transition: color 0.3s ease;
  align-self: center;
  justify-self: center;
  margin: 0px;
  padding: 10px 10px 10px 0px;
  margin-right: 20px;
  border: none !important;
}

.dateTimeInput:focus {
  border: none !important;
  box-shadow: none !important;
  color: #4169e1;
}

.datePickerWrapper {
  z-index: 1000;
  margin: auto;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.progressBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 50px;
  background-color: #f0f0f0;    
  border-radius: 40px;
  padding: 0 5px 0 5px;
  margin-bottom: 20px;
}

.progressText {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  flex-grow: 1;
  text-align: center;
}

.progressArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4dc74d;
  border-radius: 50%;
  font-size: 1.2em;
  color: #ffffff;
  cursor: pointer;
}

.progressArrowDisabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.questionSection {
  width: 100%;
  text-align: left;
  
}

.questionLabel {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
}

.gratitudeInput {
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 4px;
  resize: vertical;
  min-height: 100px;
  outline: none;
  caret-color: #31a031; 
}

.gratitudeTitle {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}
