.gratitudeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dateTime {
    font-size: 0.9em;
    color: #666;
    margin: 15px 0 25px 0;
  }
  
  .progressBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 50px;
    background-color: #f0f0f0;    
    border-radius: 40px;
    padding: 0 5px 0 5px;
    margin-bottom: 20px;
  }
  
  .progressText {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    flex-grow: 1;
    text-align: center;
  }
  
  .progressArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ff8c00;
    border-radius: 50%;
    font-size: 1.2em;
    color: #ffffff;
    cursor: pointer;
  }
  
  .progressArrowDisabled {
    background-color: #ff8c00;
    cursor: not-allowed;
  }
  
  .questionSection {
    width: 100%;
    text-align: left;
    
  }
  
  .questionLabel {
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .gratitudeInput {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 4px;
    resize: vertical;
    min-height: 100px;
    outline: none;
    caret-color: #ff8c00; 
  }
  
  .gratitudeTitle {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
  }

  .moodType {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .moodContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: #ffcca237;
    border-radius: 20px;
  }

  .emojiDisplay {
    font-size: 4rem;
    margin: -5px 0 -5px 0;
    padding: 0px;
  }

  .moodInput {
    padding: 20px 0 0 10px;
    width: 100%;
    box-shadow: none;
    border: none; 
    caret-color: #ff8c00;
  }

  .moodInput:focus {
    outline: none; 
    border: none;  
    caret-color: #ff8c00;
  }

  .error {
    color: #d9844f; /* Red text color */
    background-color: #f8ead7; /* Soft pastel red background */
    padding: 5px;
    border-radius: 4px;
    margin-top: 5px;
    text-align: center;
  }

.dayWordSection {
  background-color: #ffcca237;
  padding: 12px 15px 2px 15px;
  border-radius: 20px;
}

.submitButton {
  width: 100%;
  background-color: #ffaa5f;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 10px;
  font-weight: 800;
  color: #fff;
}

.moodContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 5px 5px 5px;
  margin-bottom: 100px;
}

.moodTitle {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 12px;
}

.moodButtonsContainer {
  position: relative; /* Ensure the container is positioned relative */
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.circleBackground {
  position: absolute;
  width: 150%;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -57%); 
  z-index: -10; 
  opacity: 0.1;
}

.moodButton {
  position: relative; /* Ensure buttons are positioned relative to the container */
  z-index: 1; /* Ensure buttons are above the circle */
  flex: 1;
  margin: 0 5px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.moodButton:hover {
  transform: scale(1.1);
}

.moodButton.selected {
  border: 2px solid #ff8c00;
  border-radius: 10px;
}

.moodImage {
  width: 100%;
  height: auto;
  display: block;
}

.dateTimeInputWrapper {
  display: flex;
  align-items: center;
  background-color: #f0f8ff; /* Light pastel blue background */
  border: 2px solid #b0e0e6; /* Powder blue border */
  border-radius: 20px;
  padding: 0px 0px;
  margin: -75px 0 65px 0;
  transition: all 0.3s ease;
  max-width: 260px;
  z-index: 1000;
  padding: 0px 0px;
}

.dateTimeInputWrapper:hover {
  background-color: #e6f3ff; /* Slightly darker pastel blue on hover */
  box-shadow: 0 2px 8px rgba(176, 224, 230, 0.4); /* Soft shadow on hover */
}

.dateTimeIcon {
  width: 24px;
  height: 24px;
  margin: 0px 0px 0px 10px;
  fill: #87ceeb; /* Sky blue color for the icon */
}

.dateTimeInput {
  font-size: 0.9em;
  color: #4682b4; /* Steel blue text color */
  background: transparent;
  width: 100%;
  max-width: 200px;
  text-align: center;
  transition: color 0.3s ease;
  align-self: center;
  justify-self: center;
  margin: 0px;
  padding: 10px 10px 10px 0px;
  margin-right: 20px;
  border: none !important;
}

.dateTimeInput:focus {
  border: none !important;
  box-shadow: none !important;
  color: #4169e1; /* Royal blue text color on focus */
}

.moodButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moodLabel {
  margin-top: 5px;
  font-size: 0.9em;
  font-weight: 900;
}

.moodLabel.great {
  color: #24a276; /* Gold for happy */
}

.moodLabel.good {
  color: #70cf69; /* DodgerBlue for sad */
}

.moodLabel.okay {
  color: #dac343; /* OrangeRed for angry */
}

.moodLabel.bad {
  color: #e6a570; /* LimeGreen for relaxed */
}

.moodLabel.terrible {
  color: #e67070; /* LimeGreen for relaxed */
}

.noteContainer {
  padding: 10px;
}

.datePickerWrapper {
  z-index: 1000;
  margin: auto;
  padding: 0px;
  display: flex;
  justify-content: center;
}
